.AdminDashboard{
  background-image: url("/src/assets/admin.jpg");
  /* transform: scale(1.1); */
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}
.wrapper{
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    width: 100vw;
    min-height: 100vh;
}
.admindashboard-title{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgba(255,255,255,.9);
}
.admindashboard-user{

    display: flex;
    flex: 1;
    flex-direction: column;
padding : 1em;
}
ul,li{    
    list-style: none;
}
#admindashboard-user-container,.admindashboard-existing-user-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 0.25em;
    background: rgba(255,255,255,.1);

}
#admindashboard-user-container:hover{
    background: #3e8e41;
    cursor: pointer;
}

.admindashboard-existing-user-container:hover{
    background:maroon;
    cursor: pointer;
}
.approve-icon,.delete-icon{
    display: flex;
    align-items: center;
    vertical-align: center;
    font-size: 32px;
    cursor: pointer;
    margin:auto;
    margin-right: 1em;
}

.admindashboard-username{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    
}
.admindashboard-authority{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-left: 2em;
}


.react-tabs {
    -webkit-tap-highlight-color: transparent;
    display:flex;
    align-items:stretch;
    flex-direction: column;
  }
  
  .react-tabs__tab-list {
    /* border-bottom: 1px solid #aaa; */
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
  }
  
  .react-tabs__tab--selected {
    background: rgba(255,255,255,.1);
    /* border-color: #aaa; */
     color: white; 
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    /* background: #fff; */
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  .match-reservation-container {
    background-image: imageurl("/src/assets/stadium.jpg");
  }